$bcolor:rgb(255, 171, 74);
$mrgn-l: 30px;

h1{
    color: $bcolor;
    margin-left: $mrgn-l;
}
h2{
    color: $bcolor;
    margin-left: $mrgn-l;
}
input{
    color: $bcolor;
    margin-left: $mrgn-l;
}